<ng-container *ngIf="state$ | async as state">
  <h1 class="title">{{ state.currentStep.title }}</h1>

  <app-dynamic
    class="content"
    [is]="state.currentStep.component"
    watch="value$"
    (propertyChanged)="onValueChanged($event)"
  ></app-dynamic>

  <footer class="control-actions">
    <button
      *ngIf="!isFirst"
      class="btn -start"
      (click)="previous()"
    >Previous</button>

    <button
      *ngIf="!isLast"
      class="btn -end"
      (click)="next()"
    >Next</button>
  </footer>

</ng-container>
